body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, Avenir, sans-serif;
  text-align: center;
}

#root {
  display: inline-block;
}

h1 {
  margin: .3em;
}

.board {
  margin-bottom: 1em;
}

.row {
  margin: 0;
  padding: 0;
  display: block;
  height: 6px;
}

.cell {
  width: 5px;
  height: 5px;
  display: inline-block;
  border: 1px #fff solid;
  border-right: 0px;
  margin: 0;
  padding: 0;
}

.cell:last-child {
  border-right: 1px #fff solid;
}


.cell.on {
  background: black;
}

.cell.off {
  background: #eee;
}
